@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.container {
    .navigation {
        a {
            color: black;
            text-decoration: none;
            font-family: "Open Sans", sans-serif;
            cursor: pointer;
            font-weight: bolder;
        }
    }

    .logo-img {
        width: 26%;
    }
    .logout {
        cursor: pointer;
    }
}
